.devicon-react-original-wordmark,
.devicon-javascript-plain,
.devicon-ruby-plain-wordmark,
.devicon-nodejs-plain-wordmark,
.devicon-postgresql-plain-wordmark,
.devicon-mysql-plain-wordmark,
.devicon-rails-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-github-plain-wordmark,
.devicon-git-plain-wordmark,
.devicon-babel-plain,
.devicon-heroku-original-wordmark,
.devicon-sass-original
{
  font-size: 4rem;
}

li {
  margin: 10px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.photo-of-me {
  border-radius: 10px;
  margin: 2em;
}

.menu-top-right {
  margin: 0;
}
